.nav-link:hover,
.nav-link.active {
  color: yellow !important;
}


.table-head {
  background: green !important;
}


.crud-student {
  text-decoration: none;
  color: rgb(1, 162, 255);
  color: white;
  font-weight: bold;
}